<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source Sans Pro">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		font-family:Courier New ;
		font-weight: bold;
		background-color: lightblue;
		font-size: 20px;
	}
	li{
		float:left;
	}
	li a:hover {background-color:white;
	}
	li.a{
		float:right;
	}
	a{
		display: block;
		color:black;
		text-align:center;
		padding: 17px 45px;
		text-decoration: none;
	}
</style>


<body>
	<ul>
		<li><a href="{% url 'home' %}" target="_self">Home</a></li>
		<li><a href="{% url 'addcar' %}" target="_self">New Car</a></li>
		<li><a href="{% url 'gallery' %}" target="_self">Gallery</a></li>
		<li class="a"><a href="{% url 'about' %}" target="_self">About</a></li>
	</ul>

{% block content %}
{% endblock %}

</body>
</html>